.BehanceLink {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    writing-mode: vertical-lr;
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


  .LinkedinLink {
    color: #E0CF04;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    writing-mode: vertical-lr;
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
 

  .containerLinkBar{
    background-color: #020202de;
    display: flex;
    flex-direction: column;
    width: 4vw;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
 

  }
  
  .LinkModule {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vh;
    
  }

  .LinkedinLink {
    padding: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .BehanceLink {
    padding: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .textStyles {
    color:#E0CF04; 
  }