.containerGlobalHome {
display: flex;
flex-direction: row;

}


.containerHomeSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

