

.containerGlobalLibow {
   
    min-height: 100vh;
  
    }
    
.HeaderContent {
        width: 100%;
        max-height: 100vh;
        
    }
.titleHeader {
    display: flex;
   
    flex-direction: column;
    margin-top: 10vh;
}


.contentContainer {
    display: flex;
    margin-left: 150px;
    padding-top: 2vh;

    margin-right: 70px;
    display: flex;
    flex-direction: column;
   
    overflow: hidden;
}
    
.headerImage, .SketchImage {
    display: flex;
    justify-content: center;
    filter: hue-rotate(357deg) brightness(70%) ;
}

.SketchImage {
    margin-top: 30px;
    margin-bottom: 100px;
}
   

.description1, .description2 {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF ; 
    margin-top: 100px;
    width: 500px;
    line-height: 1.7em;
    
}

.description2 {
   margin-top: 170px;
}

.ProjectDescription {
    display: flex;
    flex-direction: row;
}

.SketchAndIdeation {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    
}

.Ux {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    
}


.descriptionSketch {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF ; 

    width: 350px;
    line-height: 1.7em;
}

.descriptionUX {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF ; 

    width: 350px;
    line-height: 1.7em;
}

.descriptionColor{
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF ; 

    width: 350px;
    line-height: 1.7em;
}

.color {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    
}

.bubbles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 100px;
}

.bubble {
    opacity: 1;
    animation: fade-in 3s forwards, float 2s ease infinite alternate;
  }


  .PdfUX {

    display: flex;
    flex-direction: row;
    width: 80vw;
    
  }

  .rightSide {
      display: flex;
      flex-direction: column;
      margin-top: 200px;
    
  
     
      
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    
  }

  .item {
      margin: 20px;
      filter: hue-rotate(357deg) brightness(70%) ;
      width: 100%;
      transition-property: transform;
    transition-duration: 700ms;
 
  }

  .item:hover {
    margin: 20px;
    filter: hue-rotate(357deg) brightness(50%) ;
    width: 100%;
    transform: scale(1.05);

}

  
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 3px 9px;
   
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #e0ce04;
    border-radius: 18px;
   
  }

  .modal > .close:focus {
    outline: none;
   
  }


  
    .modal > .content {
        width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
  
.modalContainer-overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

}
.rightSide {
    margin-left: 5vw;
}
.modalContainer-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
}
 




.descriptionTypo{
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF ; 

    width: 350px;
    line-height: 1.7em;
}

.typo {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    
}

.typoImage {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
}



.other {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
        
    }


.otherContainerButton {
    display: flex;
   
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.LinkContainer .ElementL {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR:hover {
    transform: translateX(-30px);}

.LinkContainer .ElementL:hover {
    transform: translateX(-30px);}



.buttonContainer {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 20vh;
    justify-content: space-around;

}


/*phone only*/
@media (max-width: 599px) {
        
    
  
  }
  
  /*tablet portrait up*/
  @media (max-width: 800px) {

    

  }
  
  /*tablet landspace up*/
  @media (min-width: 900px) {
   
  }
  /*desktop up*/
  @media (min-width: 1200px) {
    
    
  
  @media (max-width: 1800px) {
  
      
  }
  }
  