

.containerGlobalLibow {
   
    min-height: 100vh;
  
    }
    
.HeaderContent {
        width: 100%;
        max-height: 100vh;
        
    }



.contentContainer {
    display: flex;
    margin-left: 150px;
    padding-top: 2vh;

    margin-right: 70px;
    display: flex;
    flex-direction: column;
   
    overflow: hidden;
}
    
.projectName {
    padding-top: 20vh;

    font-size: 65px;
    color: #E0E0E0;
    font-family: linotype-didot,serif;
    font-weight: 550;
    font-style: normal;
    text-transform: uppercase;
}

.labelHeader {
    font-size: 20px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0CF04;
    text-align: left;
    margin-top: -10px;
}

   

.containerDescriptionProject {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;

}

.descriptionTitle1, .descriptionTitle2  {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #E0E0E0;
    text-align: left;
}

.description1, .description2 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
    text-align: left;
    width: 500px;
}

.infoProjectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}

.titleInfo1, .titleInfo2, .titleInfo3, .titleInfo4 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #E0E0E0;
}

.descriptionInfo1, .descriptionInfo2, .descriptionInfo3, .descriptionInfo4 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
}

.titleSection1 {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 190px;

}




.textSection1 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
    margin-top: 10px;

    width: 500px;
}

.carouselContainer {
    margin-top: 70px;
}

.section2Title {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 190px;
    margin-bottom: 50px;
}
.wireframeImage1, .wireframeImage2, .wireframeImage3, .wireframeImage4{
    margin-bottom: 40px;
}

.wireframeImage2, .wireframeImage4 {
    margin-left: 100px;
}





.color {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    
}

.bubbles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 100px;
}

.bubble {
    opacity: 1;
    animation: fade-in 3s forwards, float 2s ease infinite alternate;
  }


 

 

 


  

.typo {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    
}

.typoImage {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.titlePrototype {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;

} 


.other {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;

    }


.otherContainerButton {
    display: flex;
   
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.LinkContainer .ElementL {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR:hover {
    transform: translateX(-30px);}

.LinkContainer .ElementL:hover {
    transform: translateX(-30px);}



.buttonContainer {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 20vh;
    justify-content: space-around;

}


/*phone only*/
@media (max-width: 599px) {
        
    
  
  }
  
  /*tablet portrait up*/
  @media (max-width: 800px) {

    

  }
  
  /*tablet landspace up*/
  @media (min-width: 900px) {
   
  }
  /*desktop up*/
  @media (min-width: 1200px) {
    
    
  
  @media (max-width: 1800px) {
  
      
  }
  }
  