

.containerGlobalLibow {
   
    min-height: 100vh;
  
    }
    
.HeaderContent {
        width: 100%;
        max-height: 100vh;
        
    }



.contentContainer {
    display: flex;
    margin-left: 150px;
    padding-top: 2vh;

    margin-right: 70px;
    display: flex;
    flex-direction: column;
   
    overflow: hidden;
}
    
.projectName {
    padding-top: 20vh;

    font-size: 65px;
    color: #E0E0E0;
    font-family: linotype-didot,serif;
    font-weight: 550;
    font-style: normal;
    text-transform: uppercase;
}

.labelHeader {
    font-size: 20px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0CF04;
    text-align: left;
    margin-top: -10px;
}

   

.containerDescriptionProject {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;

}

.descriptionTitle1, .descriptionTitle2  {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #E0E0E0;
    text-align: left;
}

.description1, .description2 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
    text-align: left;
    width: 500px;
}

.infoProjectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}

.titleInfo1, .titleInfo2, .titleInfo3, .titleInfo4 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #E0E0E0;
}

.descriptionInfo1, .descriptionInfo2, .descriptionInfo3, .descriptionInfo4 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
}

.titleSection1 {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 190px;

}




.textSection1 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
    margin-top: 10px;

    width: 500px;
}

.textSectionProto {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
    margin-bottom: 80px;
   
    width: 500px;
}

.carouselContainer {
    margin-top: 70px;
    width: 70%;
}

.section2Title {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 190px;
    margin-bottom: 50px;
}
.wireframeImage1, .wireframeImage2, .wireframeImage3, .wireframeImage4{
    margin-bottom: 40px;
    width:70%; 
    height: auto;
}

.wireframeImage2, .wireframeImage4 {
    margin-left: 100px;
}





.color {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    display: flex;
    
}

.bubbles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 100px;
}

.bubble {
    opacity: 1;
    animation: fade-in 3s forwards, float 2s ease infinite alternate;
  }

.typo {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    
}

.titleArticle3, .titleArticle2, .titleArticle1 {
    font-size: 16px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
    text-align: center;
    max-width: 300px;
    margin-top: 20px;
}



.bubbles1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 330ms ease-in-out;

}

.bubble {
max-width: 200px;
max-height: 200px;
transition: transform 330ms ease-in-out;

}

.bubbles1:hover {
    transform: translateY(-15px);
}


.LinkArticle {
    transition: transform 330ms ease-in-out;
}

.LinkArticle:hover {
    transform: translateY(-50px);
}

.typoImage {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.titlePrototype {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 190px;
    display: flex;

} 


.other {
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #E0CF04 ; 
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;

    }


.otherContainerButton {
    display: flex;
   
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.LinkContainer .ElementL {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR:hover {
    transform: translateX(-30px);}

.LinkContainer .ElementL:hover {
    transform: translateX(-30px);}



.buttonContainer {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 20vh;
    justify-content: space-around;

}


@media (max-width: 399px) {
    .contentContainer {
        
        margin-left: 20px;
        padding-top: 2vh;
    
        margin-right: 20px;
       
    }

    .containerDescriptionProject {
       
        margin-top: 50px;
    
    }

    .infoProjectContainer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .titleSection1 {
       
        margin-top: 90px;
    
    }

    .textSection1 {
    
        width: 200px;
    }

    .section2Title {
         
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .wireframeImage2, .wireframeImage4 {
        margin-left: 0;
    }

    .color {

        margin-top: 20px;
     
    }

    .bubbles {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        margin-bottom: 50px;
        justify-content: center;
    }

    .bubbles1 {
        margin-bottom: 15px;
    }

    .titleArticle1, .titleArticle2, .titleArticle3 {
        
        font-size: 16px;
        font-family: roboto-condensed,sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #E0E0E0;
        margin-top: 10px;
        width: 500px;

    }



    .typoImage {
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 50px;
        width: 100%;
    }

    .other {
        margin-bottom: 20px;
        }

    .otherContainerButton {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: space-between;
            align-items: center;
            margin-left: 30px;
        }

        .carouselContainer {
            
            width: 100%;
        }

        .wireframeImage1, .wireframeImage2, .wireframeImage3, .wireframeImage4{
            width:100%; 
            
        }
  }
/*tablet portrait up*/
@media (max-width: 600px) {
    .contentContainer {
        
        margin-left: 30px;
        padding-top: 2vh;
    
        margin-right: 30px;
       
    }

    .containerDescriptionProject {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 90px;
    
    }

    .infoProjectContainer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .titleSection1 {
       
        margin-top: 90px;
    
    }

    .textSection1 {
    
        width: 300px;
    }

    .section2Title {
         
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .wireframeImage2, .wireframeImage4 {
        margin-left: 0;
    }

    .color {

        margin-top: 20px;
     
    }

    .bubbles {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        margin-bottom: 50px;
        justify-content: center;
    }

    .bubbles1 {
        margin-bottom: 15px;
    }

    .titleArticle1, .titleArticle2, .titleArticle3 {
        
        font-size: 16px;
        font-family: roboto-condensed,sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #E0E0E0;
        margin-top: 10px;
        width: 500px;

    }



    .typoImage {
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 50px;
        width: 100%;
    }

    .other {
        margin-bottom: 20px;
        }

    .otherContainerButton {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: space-between;
            align-items: center;
            margin-left: 30px;
        }

        .carouselContainer {
            
            width: 100%;
        }

        .wireframeImage1, .wireframeImage2, .wireframeImage3, .wireframeImage4{
            width:100%; 
            
        }
  }
  
  /*tablet landspace up*/
  @media (max-width: 1100px) {

    .otherContainerButton {
        display: flex;
       flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
    }
    .contentContainer {
        margin-left: 30px;
        padding-top: 2vh;
    
        margin-right: 30px;
        
    }

    .containerDescriptionProject {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
    
    }

    .description1, .description2 {
        
        width: 300px;
    }

    .color {

        margin-top: 20px;
     
    }

    .titleSection1 {
       
        margin-top: 90px;

    }

    .section2Title {
         
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .wireframeImage2, .wireframeImage4 {
        margin-left: 0;
    }

    .wireframeImage1, .wireframeImage2, .wireframeImage3, .wireframeImage4{
        width:100%; 
        
    }

    .otherContainerButton {
       
        margin-left: 0;
    }
  }
  /*desktop up*/
  @media (min-width: 1200px) {
    
    
  }
  @media (max-width: 1800px) {
   
      
  }
  