/* CSS variables */
:root {
  --primary-color: #afafaf;
  --secondary-color: #f68d28;
  background-color: #0E0E0E;
  scroll-behavior: smooth;


 
}

.App {
  background-image: url(./backgroundImage1.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: none;
 
  
}
.LinkBar {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 10000;
}


a {
  text-decoration: none;
  
  
}

a:hover{
  text-decoration: none;
}

.movable {
  width: 10px;
  height: 10px;
  background:#E0CF04;
  mix-blend-mode: difference;
  position: absolute;
  z-index: 999999999;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition-property: transform;
  transition-duration: 400ms;}

.movable.active {
  background: rgb(53, 4, 4);
}



.movable.active:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movable.cursor-pointer:after {
  transform: scale(1.5);
}

.movable.cursor-right:after {
  content: ">";
}

.movable.cursor-left:after {
  content: "<";
}

.sides {
  position: relative;
  background: lightblue;
}

.side-right,
.side-left {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: transparent;
  border: 0;
  appearance: none;
}

.side-right {
  right: 0;
}
.side-left {
  left: 0;
}



/*phone only*/
@media (max-width: 599px) {
  .LinkBar {
    display: none;
  }

  .App { 
    min-width: 0;
  }


}

/*tablet portrait up*/
@media (max-width: 600px) {
  .LinkBar {
    display: none;
  }

  .App { 
    min-width: 0;
  }
}

/*tablet landspace up*/
@media (max-width: 1100px) {
  .App { 
    min-width: 0;
  }

  .LinkBar {
    display: none;
  }
}
/*desktop up*/
@media (min-width: 1200px) {
  
  
}
@media (max-width: 1800px) {
 
    
}

