/* CSS variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #f68d28;
  background-color: #0E0E0E;
  scroll-behavior: smooth;
  


 
}

.App {
  background-image: url(./backgroundImage1.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}
.LinkBar {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1000;
}
a {
  text-decoration: none;
  cursor: url("./img/cursorHoverLink.svg"), pointer;
  
}

button {
  cursor: url("./img/cursorHoverLink.svg"), pointer;
}