/* CSS variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #f68d28;
  background-color: #0E0E0E;
  scroll-behavior: smooth;
  


 
}

.App {
  background-image: url(./backgroundImage1.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}

a {
  text-decoration: none;
  cursor: url("./img/cursorHoverLink.svg"), pointer;
  
}

button {
  cursor: url("./img/cursorHoverLink.svg"), pointer;
}