.containerLinkBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: 50px;
    top: 19vh;
    height: 100px;
    
  
}


.circleHome  {
    background-color: #433E00;
    width: 45px;
    height: 6px;
    z-index: 1001;
    transition-duration: 400ms
    

}
.circleWork {
    background-color: #433E00;
    width: 45px;
    height: 6px;
    z-index: 1001;
    transition-duration: 400ms

}

.circleAbout  {
    background-color: #433E00;
    width: 45px;
    height: 6px;
    z-index: 1001;
    transition-duration: 400ms
}
.circleRandom {
    background-color: #433E00;
    width: 45px;
    height: 6px;
    z-index: 1001;
    transition-duration: 400ms

}
.circleContact {
    background-color: #433E00;
    width: 45px;
    height: 6px;
    z-index: 1001;
    transition-duration: 400ms

}


.circleHome:hover  {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);

}
.circleWork:hover {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);
}

.circleAbout:hover  {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);
}
.circleRandom:hover {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);
}
.circleContact:hover {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);
}

.circleHome:visited  {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);

}
.circleWork:visited {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);
}

.circleAbout:visited  {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);

}
.circleRandom:visited {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);
}
.circleContact:active {
    background-color: #ad9f05;
    transform: scale(1.5);
    transform: translateX(-10px);
}