.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 70px;
    z-index: 1000;
    position: absolute;
    right: 30px;

    
  }

  .circleButton {
    width: 20px;
    height: 20px;
    display: flex;
    background-color:#00000000 ;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
    
    border-radius: 50%;
    transition-property: transform;
    transition-duration: 400ms;
    

  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: transform;
    transition-duration: 400ms;
    
   
  }
  
  
  .navbar__link {
    margin: 1em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    z-index: 1000;

    color: #ffffff;
    border-bottom: 3px solid transparent;
  }
  
  .item:hover .circleButton {
    transform: scale(1.5);
    background-color: #e0ce0446;
  }
  
  .navbarLinkActive{
    border-bottom: 1px solid #E0CF04;
    transition: border-bottom .5s ease-in-out;
  }