




.containerText {
    display: flex;
    flex-direction: column;

    justify-content: center;
    position: relative;
    left: 10vw;
}


.AboutSectionContainer {
    width: 95vw;
    min-height: 100vh;
    position: relative;
    left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.TextCorps {
    width: 450px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 23px;
    font-style: normal;
    padding-left: 4.5vw;
    line-height: 1.5em;


}

.MyPortrait {
    
    display: flex;
    width: 28vw;
    height: 42vh;
    position: relative;
    right: 12vw;
   
}

/*phone only*/
@media (max-width: 599px) {
    .MyPortrait {
    display: none;   
    }

    .AboutSectionContainer {
        width: 100%;
        min-height: 100vh;
        position: relative;
        left: 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    }
  }
  
  /*tablet portrait up*/
  @media (max-width: 800px) {
    .MyPortrait {
        display: none;   
        }
  }
  
  /*tablet landspace up*/
  @media (min-width: 900px) {
  }
  /*desktop up*/
  @media (min-width: 1200px) {
    
    
  
  @media (max-width: 1800px) {
  
      
  }
  }
  

