




.containerText {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    position: relative;
    left: 10vw;
}


.AboutSectionContainer {
    width: 95vw;
    min-height: 90vh;
    position: relative;
    left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-wrap: wrap;
}

.TextCorps {
    width: 350px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    padding-left: 4.5vw;
    line-height: 1.5em;


}

.MyPortrait {
    
    display: flex;
    width: 28vw;
    height: 42vh;
    position: relative;
    right: 23vw;
    top: 12vh;
  
   
}

.ButtonDiscover {
    position: relative;
    top: 16vh;
}

