.WorkSectionContainer {
    width: 95vw;
    min-height: 90vw;
    position: relative;
    display: flex;
    flex-direction: column;
  
    


}

.LinkContainer .Element {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR {
    transition: transform 330ms ease-in-out;
   
}
.LinkContainer .ElementR:hover {
    transform: translateX(-50px);}

.LinkContainer .Element:hover {
    transform: translateX(50px);}

.ElementContainer {
    display: flex;
    
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 5vw;


   
    
}


.ContainerElementPart1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.ContainerElementPart2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}




.Subtitles {
   
    margin-top: 12vh;
    margin-bottom: 10vh;
    display: flex;
    padding-left: 15vw;
}

.ButtonMore {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    margin-left: 10%;
}


/*phone only*/
@media (max-width: 599px) {
    .ElementContainer {
       flex-direction: column;  
    }
  
  
  }
  
  /*tablet portrait up*/
  @media (max-width: 800px) {
    .ElementContainer {
        flex-direction: column;  
     }
  }
  
  /*tablet landspace up*/
  @media (min-width: 900px) {
   
  }
  /*desktop up*/
  @media (min-width: 1200px) {
    
    
  
  @media (max-width: 1800px) {
  
      
  }
  }
  