/* Global styles */


 @font-face {
  font-family: "Calton Italic";
  src: url("./App/assets/Calton-italic.otf");
 }

 @font-face {
  font-family: "Calton Regular";
  src: url("./App/assets/Calton-regular.otf");
 }
 
/* variables */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


