
.titlePage {
    font-family: linotype-didot,serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;

}

.containerGlobalLibow {
   margin: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.TextCorps {
    width: 350px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    line-height: 1.9em;
}

.ButtonContainer {
    
    display: flex;
    margin-left: 90px;

}

.TextAndButtonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 150px;  
    justify-content: space-between;
    height: 270px;

}

.SousTitre {
    font-size: 20px;
    font-family: roboto-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0CF04;
}

.leftSide {

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: 100vh;
}

.libowImage {
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
}